# Node modules
node_modules/

# Archivos de entorno
.env

# Logs
logs
*.log

# Carpeta de compilación de producción
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros archivos que no desees subir
npm-debug.log*
yarn-debug.log*
yarn-error.log*
